@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');
body {font-family: Roboto;margin: 0px; padding: 0px;scroll-behavior: smooth; }

html {scroll-behavior: smooth;}

.nav-container {position: absolute; top: 15px; z-index: 150; left: 50px;;}

.logo-container > img {width: 100%;}

.logo-container {width: 195px;margin-top: 10px;float: left;}

.menu-btns > li {display: inline-block;margin-left: 13px;}

.menu-btns > li > a {text-decoration: none;color: white;font-weight: normal;font-size: 14.5px;}

.menu-btns > li > a:hover {color: rgb(170, 170, 170);}

.menu-btns {float: left;margin-top: 50px;padding-left: 0px;}

.blocks {width: 100%; height: 100vh;background-color: green;}
.section > h1 {text-align: center; font-weight: bold;}

.section > p {font-weight: normal; text-align: center;line-height: 25px;}

.sect-hero {width: 100%;}

.sect-hero > img {width: 100%;height: 300px;object-fit: cover;border-radius: 7px;}

button:hover {cursor: pointer;}

button:focus {outline: none;}

.swiper-container {
    width: 100%;
    height: 100%;
 
  }
  .swiper-slide {

  }

  .swiper-slide > img {width: 100%; object-fit: cover;filter: brightness(0.5);height: 100%;}

.collapse-logo > img {width: 120px;float: left;margin-top: 10px;}

.collapsed-nav > div > .menu-btns > li {float: left;margin-top: 27px;margin-left: 20px;color: black;}
.collapsed-nav > div > .menu-btns > li > a {color: black;}

.collapsed-nav > div > .menu-btns {width: 400px; float: left; margin-top: 2px;}

#collapse{display: none;}

#collapse.on {display: block;}

.collapsed-nav > div {margin: auto; width: 525px;}



.collapsed-nav {position: fixed; top: 0px; width: 100%;height: 80px;z-index: 550;background-color: white;-webkit-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.18);
    -moz-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.18);
    box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.18);}

  .swiper-slide:nth-child(even) {background-color: #F69442;}

  .swiper-slide:nth-child(odd) {background-color: #3abebf;}



  .carousel {height: 70vh;margin: auto; width:100%;margin-top: 0px;border-radius: 10px; border-bottom: 6px solid;
    border-image:   linear-gradient(to right, #F69442 33%, #8EC74C 33%, #8EC74C 66%,#3ABEBF 33%, #3ABEBF 33%) 5;}

  .carousel-overlay {position: absolute;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;z-index: 50;width: 500px;top: 15vh;}

  .carousel-sub {margin: auto; width: 480px;}

  .carousel-sub > p  {width: 100%;text-align: center;color: white; }

  .carousel-sub > h1 {font-size: 60px;color: white;font-weight: bold;text-align: center;margin-bottom: 0px;}

  

  .swiper-pagination-bullet-active {background-color: white !important; color: black !important;}

  .swiper-button-prev {z-index: 500 !important;}

  .cr-button{width: 140px; height: 45px;background-color: white; color: black;border: none;border-radius: 100px;font-size: 15px ;font-weight: 500;transition: 0.2s ease;}

.cr-button:hover {background-color: rgba(255, 255, 255, 0.719);}

  .active {background-color: transparent; color: white; border: solid 2px white;margin-left: 7px;}

  .active:hover {background-color: white;color: black;}

  .cr-button-container {margin: auto; width: 300px;}

  #hero {transition: 0.5s ease;}

  #hero.go {opacity: 0;}



  /*-----------------------------------------------------Grouped Icons----------------------------------------------------------*/

  .icons-svg {width: 140px; height: 140px;background-image: url(/assets/skills\ icon.svg);background-size: cover;border-radius: 100px;object-fit: cover;}

  .icons-svg:hover {background-image: url(assets/skills\ icon\ –\ 1.svg);}



  .icon {display: inline-block;margin-left: 220px;width: 140px;vertical-align: top;}

  .icon > p {font-weight: 500; text-align: center; font-size: 13px;;}

  .exc {margin-left: 30px;}

  .grouped-icons > a {margin-left: 30px;text-decoration: none ;color: black;}

  .icon > h2 {font-weight: 500;width: 100%; text-align: center;}

  .icon:first-of-type {margin-left: 0px;}

  .ex{
    background-image: url(/assets/experience\ icon.svg);
  }



  .grouped-icons {margin: auto; width: 880px;margin-top:2vh;height: 211px;}

  .ex:hover {background-image: url(/assets/experience\ icon\ –\ 1.svg);}

  .ad {background-image: url(/assets/adventure\ icon.svg);}

  .ad:hover {background-image: url(/assets/adventure\ icon\ –\ 1.svg);}


  /*--------------------------------------------------------About Us---------------------------------------------------------------*/

  .about-us {margin:auto; width: 900px;padding-top: 350px;margin-top: -300px; ;}

  /*-------------------------------------------------------News Seciton-----------------------------------------------------------*/

  .news-sect {width: 100%; height: 82px;background-color: white;}

  .news {width: 100%; text-align: center;padding-top: 50px;text-decoration: none;}

  .news > p {width: 100%cgyc; text-align: center;padding-top: 30px;margin-top: 0px;font-weight: 500;font-size: 18px;color: black;font-weight: bold;padding-bottom: 10px;}


  .news > p > span {font-weight: normal;}

  .news-exc {background-color: white !important}

  .swiper-news {width: 100%;}
  /*--------------------------------------------------------Education---------------------------------------------------------*/

  .education {margin:auto; width:900px ;}

  .education > h1 {padding-top: 30vh;}

  .exc {background-image: none;}

  .icon >img {-webkit-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.18);
    -moz-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.18);
    box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.18);transition: 0.2s ease;;}

  

    .icon > img:hover {box-shadow: none;background-image: none ;}

    /*-------------------------------------------------------Contact--------------------------------------------------------------*/

    .cryptedmail:after {
      content: attr(data-name) "@" attr(data-domain) "." attr(data-tld); 
    }

    .contact {margin: auto;width: 900px;height: 100vh;padding-top: 30vh;}

    .contact > h1 {margin-bottom: -24px;}

    .person > img {width: 130px;border-radius: 150px;float: left;}

    .person-text-container {float: left;margin-left: 20px;margin-top: 30px;}

    .person-text-container > h3 {font-size: 17px;padding: 0px;margin: 0px;}

    .person-text-container > p {font-size: 14px;padding: 0px;margin: 0px;padding-top: 3px;padding-bottom: 5px;}

    .person-text-container > a {text-decoration: none;color:  black ;font-weight:500;margin-top: 10px;}

    .cryptedmail {margin-top: 10px;}

    .person {display: inline-block;margin-top: 30px;}

    .left-group {width: 40%;display: inline-block;float: left;}

    .right-group {display:inline-block;width: 55%;margin-left: 20px;float: left;margin-top: 60px;}

    .halfed {width: 100%;float: left;margin-left: 10px;}

    .input {width: 100%;height: 35px;padding-left: 10px;margin-bottom: 25px;margin-top: 7px;border: solid 1px lightgray;border-radius:5px;}

    .textarea {width: 100%;padding: 0px;padding-left: 5px;width: 503px;border: solid 1px lightgray; border-radius: 5px;height: 80px;padding-top: 10px;margin-top: 10px;font-family: roboto, sans-serif;}

    form {width: 100%;}

    .half-label:last-of-type {margin-top: -50px;}

    .label {font-weight:500;}
    
    .half-container {float: left; width: 47%;margin-left: 29px;;}

    .half-container:first-of-type {margin-left: 0px;}

    .halfed:first-of-type {margin-left: 0px;}

  .button-container > button {width:140px; height: 35px;margin-top: 10px;background-color: black;border: none;color: white;border-radius: 5px;}

  .button-container {margin: auto; width: 140px;}

  .contact-info {position: relative;border-bottom: solid 1px lightgray;padding-bottom: 25px;}

  .contact-info > a {margin-left: 10px;text-decoration: none;color: black;font-weight: 500;transition: 0.2s ease;border-bottom: solid 1px white;padding-bottom: 5px;}

  .contact-info > a:hover {border-bottom: solid 1px lightgray;}